{% extends "base.jinja" %}

{% block header %}
  <h1>{% block title %} Редактировать запись {% endblock %}</h1>
    <a class="action" href="{{ url_for('delete_developer', developer_id=developer_id) }}">Удалить запись</a>
{% endblock %}

{% block content %}
<article class="post">
    <form method="post">
    <table>
        <thead>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
            </tr>
        </thead>
        {% for idx, field in developer %}
          <tr>
            <th>{{ field.field_description }}</th>
            <th>
                    <input name="idx" type="hidden" value="{{ idx }}" required>
                    <input name="type" type="hidden" value="{{ field.field_description }}" required>
                    <label>
                        <input name="value" value="{{ field.value }}" required>
                    </label>
            </th>
              <th>
                  <a href="{{ url_for("delete_field", developer_id=developer_id, field_index=idx) }}">
                      Удалить
                  </a>
              </th>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Сохранить">
    </form>
<form method="post">
  <label for="type">Выберите тип поля</label>
  <select name="type" id="type">
      {% for field in fields %}
        <option value="{{ field }}">{{ field }}</option>
      {% endfor %}
  </select>
{#  <br><br>#}
    <label><input name="value" value="" required></label>
  <input type="submit" value="Добавить">
</form>
</article>
{% endblock %}