{% extends 'base.jinja' %}

{% block header %}
  <h1>{% block title %}Выберите файл для загрузки{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value="Загрузить">
</form>
{% endblock %}