{% extends "base.jinja" %}

{% block header %}
  <h1>{% block title %} Поиск {% endblock %}</h1>
{% endblock %}

{% block content %}
<article class="post">
    <form method="post">
    <table>
        <thead>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tr>
            <th><label><input name="field" type="hidden" value="all"></label>По всем полям</th>
            <th><label><input name="value"></label></th>
        </tr>
        {% for field in fields %}
          <tr>
            <th><label><input name="field" value="{{ field }}"></label></th>
            <th><label><input name="value"></label></th>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Поиск">
    </form>
</article>
{% endblock %}